<h1 class="itFont text-center">Checkout</h1>


<div class="container">

    <div class="checkoutItems" *ngFor="let item of items">
        <span>{{item.name}} </span><span>{{item.price | currency:"EUR"}}</span>
    </div>
    <hr>

    <div class="checkoutBill">
        <p>Subtotal: {{displaySubTotal() | currency:"EUR"}}</p>
        <p>Service Fee: {{displayServiceFee() | currency:"EUR"}}</p>
        <p>Total: {{displayTotal() | currency:"EUR"}}</p>
        <hr>
        <p>Total after discounts: {{displayFinalAmount() | currency:"EUR"}}</p>
    </div>

    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="name">Name</label>
            <br>
            <input type="text" formControlName="name" id="name">
        </div>
        <div>
            <label for="address">Address</label>
            <br>
            <input type="text" formControlName="address" id="address">
        </div>
        <div>
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
    </form>
</div>