<div class="hero text-light">
    <h1 class="itFont">Ristorante Il Gambero Rosso</h1>
    <h5>We are yummy, eat us.</h5>
</div>
<div class="info">
    
    <h1 class="itFont text-center">Our Restaurant</h1>
    <div class="row">
        <div class="col-8">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis fugit quod cum iusto numquam quo
            assumenda, soluta omnis consequatur esse est placeat voluptas culpa molestias quia alias beatae corporis
            necessitatibus.
            Nostrum nisi soluta expedita, et sequi facilis voluptatum ea eos, repudiandae maiores commodi necessitatibus
            quas voluptatem doloribus alias consectetur illum cupiditate ducimus sint reprehenderit. Dolore debitis
            nulla ad beatae quam.
            Nemo similique error consequatur tempora voluptatum ex et sed accusantium provident rem esse maxime placeat
            dolore soluta iure saepe, asperiores voluptatem libero, aut perferendis molestias ipsum quasi dolor. Atque,
            mollitia.
            Sequi odio, dolorum nam sit incidunt, mollitia sapiente quibusdam temporibus consequatur aliquid nemo
            quaerat optio ducimus maiores. Iure magni magnam exercitationem provident officiis aut nostrum. Voluptates,
            quae? Tempora, dignissimos quae!
            A quos ratione quibusdam, pariatur laudantium natus harum aut vitae voluptatibus sint dicta corporis
            ducimus? Quos expedita hic laudantium culpa ea cupiditate quisquam molestiae, magni quod dignissimos nisi
            voluptatum corporis?
        </div>
        <div class="col" id="freshPasta">
   <img src="assets/img/pasta.jpg">
        </div>
    </div>
</div>
<div class="why">
    <h1 class="itFont text-center">Why eat here?</h1>
    <div class="row">
        <div class="col">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum fugit fugiat alias autem voluptatum in, dolorum
            qui ipsum ut sit, tenetur iste similique! Veritatis, eius ullam! Dolorem voluptatibus numquam ea.
            Officiis corporis quas sint quis ipsa voluptatum in labore enim possimus blanditiis, deleniti beatae porro
            quibusdam autem similique esse earum qui illum odio! Exercitationem officiis quia cupiditate, sed omnis
            dicta!
        </div>
        <div class="col">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque, dolore. Obcaecati et reiciendis ipsa modi.
            Expedita vitae, aut est nobis maiores officiis? Dolor fugit nostrum, earum fuga dolorem consectetur harum?
            Officiis fuga eos atque eaque quam consequatur repellat pariatur. Optio corrupti cupiditate enim at commodi
            mollitia odio nostrum sapiente. Recusandae, libero repellendus aliquam ipsam nostrum laborum nesciunt
            dolorem commodi magni.
        </div>
        <div class="col">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium tempora eligendi eum, nesciunt soluta
            sapiente eius sunt. Nulla suscipit, adipisci dignissimos veritatis cumque dicta eveniet quisquam dolorem,
            libero blanditiis aperiam.
            Quas doloremque recusandae impedit minima soluta quisquam rem, sunt laboriosam? Reiciendis voluptatibus
            perspiciatis iure aspernatur explicabo rerum porro, obcaecati quod nisi eum id? Nemo dolor nisi quae debitis
            blanditiis velit?
        </div>
    </div>
</div>
<div class="specials"></div>